# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists
- List some data science tools
- Show some simple arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. pandas
2. NumPy
3. Matplotlib

|Data Science Tools |
| ----------------- |
|Jupyter            |
|Apache Zeplin      |
|RStudio            |

### Below are a few examples of evaluating arithmetic expression in Python.

In [15]:
# This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Kyler Keenan